body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto;
    width: 90%;
}

header{
    background-color: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(167, 167, 167);
    z-index: 1;
}

.logout{
    box-shadow: 5px 5px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#btn-tambah{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}


.main{
    display: flex;
    height: 100%;
}

aside {
    width: 200px;
    padding: 10px;
    background-color: rgb(249, 249, 249);
    border-right: 1px solid rgb(167, 167, 167);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

aside nav ul li {
    margin-bottom: 1rem;
}

aside nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

aside nav ul li a:hover {
    background-color: #e0e0e0;
}

aside, h1{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table, th, td{
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
}


footer{
    border-top: 1px solid rgb(167, 167, 167);
    background-color: rgb(249, 249, 249);
    padding: 10px;
    text-align: center;
}

.content{
    padding: 50px;
    flex: 1;
}

.content-text-h1{
    text-align: left;
    color: black;
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-overlay.active{
    display: flex;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 2;
}


.btn-simpan{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-batal{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-label{
    margin-bottom: 5px;
}

#name{
    margin-bottom: 10px;
    padding: 5px;
}

#nim{
    margin-bottom: 10px;
    padding: 5px;
}


.form-group-add{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.btn-edit {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-delete {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-update{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#edit-name {
    margin-bottom: 10px;
    padding: 5px;
}

#edit-nim {
    margin-bottom: 10px;
    padding: 5px;
}

.btn-hapus-confirm{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-hapus-cancel{
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px;
    margin: 15px;
    cursor: pointer;
}

.modal-h2{
    transform: translate(0%, -40%);
}

.text-popup{
    text-align: center;
}

